p {
    font-family: Lato;
  }
  
  .scrollCss {
    background: yellow;
    
  }
  
  .hdr {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    margin-left:-8px;
    margin-top: -20px;
  
  }